.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deleteButton i {
  color: red;
}

/* Add any additional styles as needed */
