/* Default styles */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: hsl(224, 35%, 48%);
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.logo img {
  width: 2rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  margin-right: 5%;
}

.menu li:last-child {
  margin-left: auto;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchForm input[type="text"] {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.searchForm button {
  border: none;
  border-radius: 0.25rem;
}
@media screen and (max-width: 768px) {
  .menuLinks {
    display: none;
  }
}
.button {
  background-color: rgb(255, 98, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: rgb(210, 145, 4);
}
